//- 首页上的活动列表

a.item.activity(href=url_for(item.path))
  .obox
    .ibox
      .code
        span.c= item.code
        span.state(class=item.state)= item.state
      .info
        .name= item.name
        .date= date(item.start_time)