-
  shows = site.posts
    .filter(x => x.class === 'Show')
    .filter(x => x._activity === activity.id)

  shows.forEach(s => {
    s.game = site.posts
      .filter(x => x.class === 'Game')
      .filter(x => x.cn_name === s._game)
      .first()
  })

  // 按日期排序
  shows.data = shows.data
    .sort((a, b) => Date.parse(a.start_at) - Date.parse(b.start_at))

  // 按日期分组
  days = {}
  shows.forEach(s => {
    let day = moment(s.start_at).format('YYYY-MM-DD')
    days[day] = days[day] || []
    days[day].push(s)
  })

- function tdname(show)
  td.name
    if (show.game)
      .infobox
        img(src=show.game.cover_url)
        .info
          .name= show.game.cn_name
          .oname= show.game.name
    else
      .infobox
        .info
          .name= show.name
          .oname= show.subname

- function tdstart(show)
  td.start
    if (show.time_to)
      .time= show.time_to
    else
      .time= moment(show.start_at).format('HH:mm:ss')

- function tdrule(show)
  td.rule
    .r= show._rule ? `${show._rule} - ${show.platform}` : ''
    .sub= show._subrule

- function tdvideo(show)
  td.video
    - if (show.bilibili)
      .link 
        a.bilibili(href=('https://www.bilibili.com/video/' + show.bilibili), target='_blank')
          i.fa.fa-video-camera
          span= show.bilibili
      .realtime= show.real_time

.activity-schedule
  .table-responsive
    table.table.table-dark.table-striped
      thead
        tr
          th.game 游戏
          th 开始时间
          th Runner(s)
          th 预计时间
          th 规则/平台
          th 视频回放
      tbody
        - if (shows.length === 0)
          tr
            td.applying(colspan=6) 
              i.fa.fa-calendar
              span 正在筹备
        - else
          - let idx = 0
          - for (let day in days)
            - idx ++
            - shows = days[day]
            tr.day
              td(colspan=6)
                .tdi
                  span.idx= `DAY ${idx} :`
                  span= day
            - shows.forEach(show => {
              tr
                = tdname(show)
                = tdstart(show)
                td= show._runner
                td= show.estimated_time
                = tdrule(show)
                = tdvideo(show)
            - })