-
  shows = site.posts
    .filter(x => x.class === 'Show')
    .filter(x => x._activity === activity.id)

  shows.forEach(s => {
    s.game = site.posts
      .filter(x => x.class === 'Game')
      .filter(x => x.cn_name === s._game)
      .first()
  })

  shows.data = shows.data.sort((a, b) => Date.parse(a.start_at) - Date.parse(b.start_at))

.activity-schedule
  .table-responsive
    table.table.table-dark.table-striped
      thead
        tr
          th.game 游戏
          th 开始时间
          th Runner(s)
          th 预计时间
          th 规则/平台
          th 视频回放
      tbody
        - shows.forEach(show => {
          tr
            td.name
              - if (show.game)
                .infobox
                  img(src=show.game.cover_url)
                  .info
                    .name= show.game.cn_name
                    .oname= show.game.name
              - else
                .infobox
                  .info
                    .name= show.name
                    .oname= show.subname
            td.start
              - if (show.time_to)
                .time= show.time_to
              - else
                .time= time(show.start_at)
                .date= date(show.start_at)
            td= show._runner
            td= show.estimated_time
            td.rule
              .r= show._rule ? `${show._rule} - ${show.platform}` : ''
              .sub= show._subrule
            td.video
              - if (show.bilibili)
                .link 
                  a.bilibili(href=('https://www.bilibili.com/video/' + show.bilibili), target='_blank')
                    i.fa.fa-video-camera
                    span= show.bilibili
                .realtime= show.real_time
        - })