-
  shows = site.posts
    .filter(x => x.class === 'Show')
    .filter(x => x._activity === activity.id)

  shows.forEach(s => {
    s.game = site.posts
      .filter(x => x.class === 'Game')
      .filter(x => x.cn_name === s._game)
      .first()
  })

  // 按日期排序
  shows.data = shows.data
    .sort((a, b) => Date.parse(a.start_at) - Date.parse(b.start_at))

  // 按日期分组
  days = {}
  shows.forEach(s => {
    let day = moment(s.start_at).format('YYYY-MM-DD')
    days[day] = days[day] || []
    days[day].push(s)
  })

- function tdgame(show)
  td.td-game
    if show._games
      - for (let _g of show._games)
        != partial('_table/td-game-schedule', { _game: _g })
    else if show._game
      != partial('_table/td-game-schedule', { _game: show._game })
    else
      .tdi.break
        .info
          .name= show.name
          .oname= show.subname


- function tdstart(show)
  td.start
    if (show.time_to)
      .time= show.time_to
    else
      .time= moment(show.start_at).format('HH:mm')

- function tdrule(show)
  td.rule
    .r= show._rule ? `${show._rule} - ${show.platform}` : ''
    .sub= show._subrule

- function tdvideo(show)
  td.video
    - if (show.bilibili)
      .link 
        a.bilibili(href=('https://www.bilibili.com/video/' + show.bilibili), target='_blank')
          i.fa.fa-video-camera
          span= show.bilibili
      .realtime= show.real_time

- function 正在筹备(show)
  tr
    td.applying(colspan=6) 
      i.fa.fa-calendar
      span 正在筹备

- function tdrunner(show)
  td.runner
    - if (show._runner)
      != partial('_table/td-runner-schedule', { _runner: show._runner })
    - if (show._runners)
      - for (let _r of show._runners)
        != partial('_table/td-runner-schedule', { _runner: _r })

.activity-schedule
  .table-responsive
    table.table.table-dark.table-striped
      thead
        tr
          th.game 游戏
          th 开始时间
          th Runner(s)
          th 预计时间
          th 规则/平台
          th 视频回放
      tbody
        if (shows.length === 0)
          = 正在筹备(show)
        else
          - let idx = 0
          - for (let day in days)
            - idx ++
            - shows = days[day]
            tr.day
              td(colspan=6)
                .tdi
                  i.fa.fa-calendar
                  span.idx= `DAY ${idx} :`
                  span= day
            - shows.forEach(show => {
              tr
                = tdgame(show)
                = tdstart(show)
                = tdrunner(show)
                td= show.estimated_time
                = tdrule(show)
                = tdvideo(show)
            - })