.container
  //- .row
  //-   .col-lg-10.offset-lg-1
  //-     h3.goback
  //-       a(href=url_for('/'))
  //-         i.fa.fa-arrow-left
  //-         span 返回 Go back

  .row.activity-page 
    .col-lg-10.offset-lg-1
      section.base
        .title
          h1= activity.code
          .name
            span= activity.name
            span.gap |
            span= activity.en_name
          .date
            span= date(activity.start_time)
            span= ` [${moment(activity.start_time).format('ddd')}]`
        .cover
          .cc
            img(src=activity.cover_url)
        .site
          .sc
            img(src=activity.site_img_url)

      .col-lg-10.offset-lg-1
        section.intro
          h3 
            .cn 活动简介 
            .en Introduction
          .freehtml
            != activity.freehtml
          .introc
            != partial('_item/PostContent', { item: activity })

      .col-lg-10.offset-lg-1
        section.video
          - if (activity.ED_video)
            h3 Ending
            .video-player
              .box
                iframe(src=activity.ED_video.player, scrolling='no', border='0', frameborder='no', framespacing='0', allowfullscreen='true')

      section
        h3
          .cn 速通玩家 
          .en Runners
        != partial('_item/ActivityRunners', { activity })

      section.schedule
        h3 
          .cn 日程表 
          .en Schedule
        != partial('_item/ActivitySchedule', { activity })

      section.discuss
        a(href=activity.discuss_link, target='_blank') 
          i.fa.fa-comment
          span 参与讨论