.container
  .row.activity-page 
    .col-lg-10.offset-lg-1
      section.base
        .title
          h1.tfont= activity.code
          .name
            span= activity.name
            span.gap |
            span= activity.en_name
          .date
            span= date(activity.start_time)
            span= ` [${moment(activity.start_time).format('ddd')}.]`
          if (activity.state)
            .state(class=activity.state)
              .st= activity.state
          if (activity.logohtml)
            .logohtml!= activity.logohtml
        if (activity.cover_url)
          .cover
            .cc
              img(src=activity.cover_url)

      .col-lg-10.offset-lg-1
        section.intro
          h3.tfont 
            .cn 活动简介 
            .en Introduction
          .freehtml
            != activity.freehtml
          if activity.content
            .introc
              != partial('_item/PostContent', { item: activity })

      .col-lg-10.offset-lg-1
        - for (vt of Object.keys(activity.videos))
          section.video
            - video = activity.videos[vt]
            h3.tfont= vt
            .video-player
              .box
                iframe(src=video.player, scrolling='no', border='0', frameborder='no', framespacing='0', allowfullscreen='true')

      section
        h3.tfont
          .cn 速通玩家 
          .en Runners
        != partial('_item/ActivityRunners', { activity })

      - d = site.data[activity.id]
      - if (d && d.applying)
        section.entry-form#entry-form
          h3.tfont 
            .cn 报名表
            .en Entry Form
          != partial('_item/ActivityEntryForm', { applying: d.applying })

      section.schedule
        h3.tfont 
          .cn 日程表 
          .en Schedule
        != partial('_item/ActivitySchedule', { activity })

      section.discuss
        a(href=activity.discuss_link, target='_blank') 
          i.fa.fa-comment
          span 参与讨论