-
  top_blogs = blogs.filter(x => x.top)
  common_blogs = blogs.filter(x => !x.top)

.index-blogs
  each x in top_blogs.toArray()
    .blog.top
      .title
        span.t= x.title
        span.d= x.date.format('YYYY-MM-DD HH:mm')
      .bct
        .bbox!= partial('_item/PostContent', { item: x })

  each x in common_blogs.toArray()
    .blog
      .title
        span.t= x.title
        span.d= x.date.format('YYYY-MM-DD HH:mm')
      .bct
        .bbox!= partial('_item/PostContent', { item: x })